@import "../../main.scss";

.lesson {
  display: flex;
  flex-direction: column;
  padding: 4rem;

  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 3rem;

      span {
        color: $primary-color;
      }
    }

    .btns {
      display: flex;
      flex-direction: row;
    }
  }

  .lesson-content {
    margin-top: 4rem;

    .exercices {
      display: flex;
      flex-direction: column;

      .exercice-title {
        font-size: 2.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-right: 7rem;

        span {
          color: $primary-color;
        }
      }

      .index {
        font-size: 2.5rem;
        padding-left: 3rem;
        font-weight: 500;
      }
    }
  }
}
