@import "../../main.scss";

.exercice-card {
  border: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 148rem;
  height: 10rem;

  .card-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
    gap: 1.5rem;

    .about-card {
      text-align: right;

      .title {
        color: $primary-color;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
        font-weight: 700;
      }
      .description {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}
