@import "../../main.scss";

.lessons {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 85vw;

  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 3rem;
    }

    .btns {
      display: flex;
      flex-direction: row;
    }
  }

  .lessons-content {
    margin-top: 4rem;

    .lessons-cards {
      display: flex;
      flex-direction: column;

      .lesson-title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-right: 7rem;
      }

      .index {
        font-size: 2.5rem;
        padding-left: 3rem;
        font-weight: 500;
      }
    }
  }
}
