@import "../../main.scss";

.lessons {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 85vw;

  .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .btns {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .lessons-content {
    margin-top: 4rem;

    .lessons-cards {
      display: flex;
      flex-direction: column;

      .lesson-title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-right: 7rem;
      }

      .index {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 885px) {
  .lessons {
    .heading {
      .title {
        margin: 2rem 0;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .lessons {
    padding: 2rem;
    .heading {
      .title {
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .lessons-content {
      margin-top: 4rem;

      .lessons-cards {
        .lesson-title {
          font-size: 1.5rem;
          margin-right: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 394px) {
  .lessons {
    .lessons-content {
      .lessons-cards {
        .index {
          display: none;
        }
      }
    }
  }
}
