@import "../../../main.scss";

.ex-video {
  display: flex;
  flex-direction: column;

  .video-heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-size: 1.8rem;
      font-weight: 500;
      margin: 0 1rem;
      color: $font-gray-light;
    }
  }
  .input {
    border: 1px solid $border-color;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 34rem;
    height: 5rem;
    padding: 0 1rem;
    margin: 1rem 0;

    input[type="text"] {
      border: none;
      &::placeholder {
        font-family: Tajawal;
        font-size: 1.5rem;
        font-weight: 400;
      }

      &:focus {
        outline: none;
      }
    }
    input[type="file"] {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      color: white;
      border-radius: 5px;
      font-size: 1.25rem;
      width: 10rem;
      height: 3.2rem;
    }
  }
}
