@import "../../main.scss";

.chapters {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 85vw;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .chapters-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-top: 3rem;
  }
}
