@import "../../main.scss";

.add-lesson {
  width: 75rem;
  height: 55rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  padding: 2rem;

  .heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;

    p {
      font-size: 1.75rem;
      font-weight: 700;
    }

    img {
      cursor: pointer;
    }
  }

  .imports {
    display: flex;
    flex-direction: row;
    padding: 4rem 0;
    gap: 1rem;

    .import-img {
      background-color: $background-gray;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      cursor: pointer;
    }

    .import-file {
      margin-right: 2rem;

      .btn-file {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        border-radius: 1rem;
        border: 1px solid $border-color;
        width: 15rem;
        height: 4rem;
        cursor: pointer;
      }
    }
  }

  .lesson-content {
    display: flex;
    flex-direction: column;
    label {
      color: $font-gray;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    input {
      border: 1px solid $border-color;
      margin-bottom: 2rem;
      border-radius: 1rem;
      height: 4rem;
    }

    .text-large {
      height: 8rem;
    }

    .btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
