@import "../../main.scss";

.chapter-card {
  width: 29rem;
  height: 29rem;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  cursor: pointer;
  img {
    width: 29rem;
    height: 18.5rem;
  }
  .image {
    width: 100%;
  }

  .description {
    padding: 1rem;

    .title {
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      line-height: 2.5rem;
    }
    .desc {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
