@import "../../../main.scss";

.ex-description {
  display: flex;
  flex-direction: column;

  .description-heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-size: 1.8rem;
      font-weight: 500;
      margin: 0 1rem;
      color: $font-gray-light;
    }
  }
  input {
    border: 1px solid $border-color;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem 0;
    width: 34rem;
    height: 5rem;

    &::placeholder {
      font-family: Tajawal;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }
  }
}
