@import "../../main.scss";

.header {
  width: 85vw;
  height: 9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $border-color;

  .menu-icon {
    display: none;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $background-gray;
    width: 60rem;
    height: 4.5rem;
    border-radius: 1rem;

    img {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    input {
      background: $background-gray;
      border: none;
      margin-right: 1rem;
      width: 90%;

      &::placeholder {
        font-family: Tajawal;
        font-size: 1.5rem;
        font-weight: 400;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 4rem;

    .desc {
      .name {
        font-size: 1.5rem;
      }
      .role {
        font-size: 1.25rem;
        font-weight: 600;
        color: $font-gray-dark;
      }
    }

    .icon {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    .search {
      margin-right: 1rem;
      width: 50rem;
    }
  }
}

@media screen and (max-width: 830px) {
  .header {
    .search {
      width: 40rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    .menu-icon {
      margin-right: 1rem;
      display: initial;
    }
    .search {
      width: 50rem;
      margin-left: 1rem;
    }
    .user {
      display: none;
    }
  }
}
