@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Tajawal, sans-serif;
}

a {
  text-decoration: none;
}

$primary-color: #2e6ff1;

$font-gray-light: #cccccc;
$font-gray: #808295;
$font-gray-dark: #727272;
$border-color: #dedede;
$background-gray: #f5f5f5;
